.general-modal-style {
  button {
    border-style: none;
    width: 150px;
  }
  /* .modal-content {
    background-color: rgb(19, 34, 52);
    color: rgb(229, 183, 16);
    padding: 20px;
  }

  .modal-body {
    background-color: rgb(19, 34, 52);
  }

  h3, h4, h5 {
    text-align: center;
    margin-bottom: 0;
  }

  h3 {
    font-size: 2rem;
  }


.modal-header {
  
margin: auto;
  .btn-close {
    visibility: hidden;
  }
  
}
.modal-body {
  margin: auto;
  .select {

    width: 250px;
    
  }
}
.create-menu-modal-footer {
  display: flex;
  justify-content: space-between;

  button {
    background-color: var(--dark-blue);
    border: none;
    color: white;
    border-radius: 5px;
    width: 100px;
    height: 40px;

    &:hover {
      background-color: var(--light-blue);
    }

    &:active {
      background-color: var(--dark-blue);
    }
  }
  .button-cancel {
    background-color: #dc3545;
    &:hover {
      background-color: lightcoral;
    }
  }
}


  .form-container-crear-plato {
    display: flex;
    flex-direction: column;
    gap: 10px;
  } */
  padding: 25px;
}
