.modal-content {
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  border-radius: 8px;
}

.texto-info {
  margin-bottom: 1rem;
}

.input-field-duplicar {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.modal-footer-duplicar {
  justify-content: space-between;
}
